In [2]:
import pandas as pd
import yfinance as yf

In [3]:
symbol = {
    'Google': 'GOOG',
    'Tesla': 'TSLA',
    'Apple': 'AAPL'
}

ticker=yf.Ticker(symbol['Google'])

In [4]:
pd.Series(ticker.info).head(20)

address1                                             1600 Amphitheatre Parkway
city                                                             Mountain View
state                                                                       CA
zip                                                                      94043
country                                                          United States
phone                                                             650-253-0000
website                                                        https://abc.xyz
industry                                        Internet Content & Information
industryKey                                       internet-content-information
industryDisp                                    Internet Content & Information
sector                                                  Communication Services
sectorKey                                               communication-services
sectorDisp                                              Communication Services
longBusinessSummary          Alphabet Inc. offers various products and plat...
fullTimeEmployees                                                       190167
companyOfficers              [{'maxAge': 1, 'name': 'Mr. Sundar  Pichai', '...
compensationAsOfEpochDate                                           1735603200
executiveTeam                                                               []
maxAge                                                                   86400
priceHint                                                                    2
dtype: object

In [5]:
data = ticker.history(period = '3d',
                      interval = '1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1170 entries, 2025-12-30 09:30:00-05:00 to 2026-01-02 15:59:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1170 non-null   float64
 1   High          1170 non-null   float64
 2   Low           1170 non-null   float64
 3   Close         1170 non-null   float64
 4   Volume        1170 non-null   int64
 5   Dividends     1170 non-null   float64
 6   Stock Splits  1170 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 73.1 KB

In [6]:
ticker.actions

                           Dividends  Stock Splits
Date
2014-03-27 00:00:00-04:00       0.00      2.002000
2015-04-27 00:00:00-04:00       0.00      1.002746
2022-07-18 00:00:00-04:00       0.00     20.000000
2024-06-10 00:00:00-04:00       0.20      0.000000
2024-09-09 00:00:00-04:00       0.20      0.000000
2024-12-09 00:00:00-05:00       0.20      0.000000
2025-03-10 00:00:00-04:00       0.20      0.000000
2025-06-09 00:00:00-04:00       0.21      0.000000
2025-09-08 00:00:00-04:00       0.21      0.000000
2025-12-08 00:00:00-05:00       0.21      0.000000

In [7]:
ticker.dividends

Date
2024-06-10 00:00:00-04:00    0.20
2024-09-09 00:00:00-04:00    0.20
2024-12-09 00:00:00-05:00    0.20
2025-03-10 00:00:00-04:00    0.20
2025-06-09 00:00:00-04:00    0.21
2025-09-08 00:00:00-04:00    0.21
2025-12-08 00:00:00-05:00    0.21
Name: Dividends, dtype: float64

In [8]:
ticker.splits

Date
2014-03-27 00:00:00-04:00     2.002000
2015-04-27 00:00:00-04:00     1.002746
2022-07-18 00:00:00-04:00    20.000000
Name: Stock Splits, dtype: float64

In [9]:
ticker.financials

,2024-12-31,2023-12-31,2022-12-31,2021-12-31
Tax Effect Of Unusual Items,340136000.0,-373771000.0,-1035090000.0,2002968000.0
Tax Rate For Calcs,0.164,0.139,0.159,0.162
Normalized EBITDA,133320000000.0,100660000000.0,91670000000.0,91157000000.0
Total Unusual Items,2074000000.0,-2689000000.0,-6510000000.0,12364000000.0
Total Unusual Items Excluding Goodwill,2074000000.0,-2689000000.0,-6510000000.0,12364000000.0
Net Income From Continuing Operation Net Minority Interest,100118000000.0,73795000000.0,59972000000.0,76033000000.0
Reconciled Depreciation,15311000000.0,11946000000.0,13475000000.0,12441000000.0
Reconciled Cost Of Revenue,146306000000.0,133332000000.0,126203000000.0,110939000000.0
EBITDA,135394000000.0,97971000000.0,85160000000.0,103521000000.0
EBIT,120083000000.0,86025000000.0,71685000000.0,91080000000.0
Net Interest Income,4214000000.0,3557000000.0,1817000000.0,1153000000.0
Interest Expense,268000000.0,308000000.0,357000000.0,346000000.0
Interest Income,4482000000.0,3865000000.0,2174000000.0,1499000000.0
Normalized Income,98384136000.0,76110229000.0,65446910000.0,65671968000.0
Net Income From Continuing And Discontinued Operation,100118000000.0,73795000000.0,59972000000.0,76033000000.0
Total Expenses,237628000000.0,223101000000.0,207994000000.0,178923000000.0
Total Operating Income As Reported,112390000000.0,84293000000.0,74842000000.0,78714000000.0
Diluted Average Shares,12447000000.0,12722000000.0,13159000000.0,13553480000.0
Basic Average Shares,12319000000.0,12630000000.0,13063000000.0,13353000000.0
Diluted EPS,8.04,5.8,4.56,5.61
Basic EPS,8.13,5.84,4.59,5.694
Diluted NI Availto Com Stockholders,100118000000.0,73795000000.0,59972000000.0,76033000000.0
Net Income Common Stockholders,100118000000.0,73795000000.0,59972000000.0,76033000000.0
Net Income,100118000000.0,73795000000.0,59972000000.0,76033000000.0
Net Income Including Noncontrolling Interests,100118000000.0,73795000000.0,59972000000.0,76033000000.0
Net Income Continuous Operations,100118000000.0,73795000000.0,59972000000.0,76033000000.0
Tax Provision,19697000000.0,11922000000.0,11356000000.0,14701000000.0
Pretax Income,119815000000.0,85717000000.0,71328000000.0,90734000000.0
Other Income Expense,3211000000.0,-2133000000.0,-5331000000.0,10867000000.0
Other Non Operating Income Expenses,1137000000.0,556000000.0,1179000000.0,-1497000000.0
Special Income Charges,-188000000.0,-628000000.0,-337000000.0,334000000.0
Write Off,188000000.0,628000000.0,337000000.0,-334000000.0
Earnings From Equity Interest,-188000000.0,-628000000.0,-337000000.0,334000000.0
Gain On Sale Of Security,2262000000.0,-2061000000.0,-6173000000.0,12030000000.0
Net Non Operating Interest Income Expense,4214000000.0,3557000000.0,1817000000.0,1153000000.0
Interest Expense Non Operating,268000000.0,308000000.0,357000000.0,346000000.0
Interest Income Non Operating,4482000000.0,3865000000.0,2174000000.0,1499000000.0
Operating Income,112390000000.0,84293000000.0,74842000000.0,78714000000.0
Operating Expense,91322000000.0,89769000000.0,81791000000.0,67984000000.0
Research And Development,49326000000.0,45427000000.0,39500000000.0,31562000000.0
Selling General And Administration,41996000000.0,44342000000.0,42291000000.0,36422000000.0
Selling And Marketing Expense,27808000000.0,27917000000.0,26567000000.0,22912000000.0
General And Administrative Expense,14188000000.0,16425000000.0,15724000000.0,13510000000.0
Other Gand A,14188000000.0,16425000000.0,15724000000.0,13510000000.0
Gross Profit,203712000000.0,174062000000.0,156633000000.0,146698000000.0
Cost Of Revenue,146306000000.0,133332000000.0,126203000000.0,110939000000.0
Total Revenue,350018000000.0,307394000000.0,282836000000.0,257637000000.0
Operating Revenue,350018000000.0,307394000000.0,282836000000.0,257637000000.0

In [10]:
ticker.quarterly_financials

,2025-09-30,2025-06-30,2025-03-31,2024-12-31,2024-09-30,2024-06-30
Tax Effect Of Unusual Items,2190015000.0,304369000.0,1700936000.0,-30974940.297119,322490000.0,NaN
Tax Rate For Calcs,0.205,0.169,0.173,0.177,0.17,NaN
Normalized EBITDA,39058000000.0,37391000000.0,36478000000.0,36676000000.0,33848000000.0,NaN
Total Unusual Items,10683000000.0,1801000000.0,9832000000.0,-175000000.0,1897000000.0,NaN
Total Unusual Items Excluding Goodwill,10683000000.0,1801000000.0,9832000000.0,-175000000.0,1897000000.0,NaN
Net Income From Continuing Operation Net Minority Interest,34979000000.0,28196000000.0,34540000000.0,26536000000.0,26301000000.0,NaN
Reconciled Depreciation,5611000000.0,4998000000.0,4487000000.0,4205000000.0,3985000000.0,NaN
Reconciled Cost Of Revenue,41369000000.0,39039000000.0,36361000000.0,40613000000.0,36474000000.0,NaN
EBITDA,49741000000.0,39192000000.0,46310000000.0,36501000000.0,35745000000.0,NaN
EBIT,44130000000.0,34194000000.0,41823000000.0,32296000000.0,31760000000.0,NaN
Net Interest Income,933000000.0,789000000.0,967000000.0,1035000000.0,1189000000.0,NaN
Interest Expense,143000000.0,261000000.0,34000000.0,53000000.0,54000000.0,NaN
Interest Income,1076000000.0,1050000000.0,1001000000.0,1088000000.0,1243000000.0,NaN
Normalized Income,26486015000.0,26699369000.0,26408936000.0,26680025059.702881,24726490000.0,NaN
Net Income From Continuing And Discontinued Operation,34979000000.0,28196000000.0,34540000000.0,26536000000.0,26301000000.0,NaN
Total Expenses,71118000000.0,65157000000.0,59628000000.0,65497000000.0,59747000000.0,NaN
Total Operating Income As Reported,31228000000.0,31271000000.0,30606000000.0,30972000000.0,28521000000.0,NaN
Diluted Average Shares,12203000000.0,12198000000.0,12291000000.0,12348000000.0,12419000000.0,NaN
Basic Average Shares,12086000000.0,12122000000.0,12183000000.0,12228000000.0,12290000000.0,NaN
Diluted EPS,2.87,2.31,2.81,2.15,2.12,NaN
Basic EPS,2.89,2.33,2.84,2.17,2.14,NaN
Diluted NI Availto Com Stockholders,34979000000.0,28196000000.0,34540000000.0,26536000000.0,26301000000.0,NaN
Average Dilution Earnings,NaN,NaN,2415000000.0,NaN,NaN,NaN
Net Income Common Stockholders,34979000000.0,28196000000.0,34540000000.0,26536000000.0,26301000000.0,NaN
Net Income,34979000000.0,28196000000.0,34540000000.0,26536000000.0,26301000000.0,NaN
Net Income Including Noncontrolling Interests,34979000000.0,28196000000.0,34540000000.0,26536000000.0,26301000000.0,NaN
Net Income Continuous Operations,34979000000.0,28196000000.0,34540000000.0,26536000000.0,26301000000.0,NaN
Tax Provision,9008000000.0,5737000000.0,7249000000.0,5707000000.0,5405000000.0,NaN
Pretax Income,43987000000.0,33933000000.0,41789000000.0,32243000000.0,31706000000.0,NaN
Other Income Expense,11826000000.0,1873000000.0,10216000000.0,236000000.0,1996000000.0,NaN
Other Non Operating Income Expenses,1143000000.0,72000000.0,384000000.0,411000000.0,99000000.0,NaN
Special Income Charges,-30000000.0,419000000.0,-22000000.0,-87000000.0,-107000000.0,NaN
Write Off,30000000.0,-419000000.0,22000000.0,87000000.0,107000000.0,NaN
Earnings From Equity Interest,NaN,NaN,-22000000.0,-87000000.0,-107000000.0,32000000.0
Gain On Sale Of Security,10713000000.0,1382000000.0,9854000000.0,-88000000.0,2004000000.0,NaN
Net Non Operating Interest Income Expense,933000000.0,789000000.0,967000000.0,1035000000.0,1189000000.0,NaN
Interest Expense Non Operating,143000000.0,261000000.0,34000000.0,53000000.0,54000000.0,NaN
Interest Income Non Operating,1076000000.0,1050000000.0,1001000000.0,1088000000.0,1243000000.0,NaN
Operating Income,31228000000.0,31271000000.0,30606000000.0,30972000000.0,28521000000.0,NaN
Operating Expense,29749000000.0,26118000000.0,23267000000.0,24884000000.0,23273000000.0,NaN
Research And Development,15151000000.0,13808000000.0,13556000000.0,13116000000.0,12447000000.0,NaN
Selling General And Administration,14598000000.0,12310000000.0,9711000000.0,11768000000.0,10826000000.0,NaN
Selling And Marketing Expense,7205000000.0,7101000000.0,6172000000.0,7363000000.0,7227000000.0,NaN
General And Administrative Expense,7393000000.0,5209000000.0,3539000000.0,4405000000.0,3599000000.0,NaN
Other Gand A,7393000000.0,5209000000.0,3539000000.0,4405000000.0,3599000000.0,NaN
Gross Profit,60977000000.0,57389000000.0,53873000000.0,55856000000.0,51794000000.0,NaN
Cost Of Revenue,41369000000.0,39039000000.0,36361000000.0,40613000000.0,36474000000.0,NaN
Total Revenue,102346000000.0,96428000000.0,90234000000.0,96469000000.0,88268000000.0,NaN
Operating Revenue,102346000000.0,96428000000.0,90234000000.0,96469000000.0,88268000000.0,NaN

In [11]:
ticker.balance_sheet

,2024-12-31,2023-12-31,2022-12-31,2021-12-31
Treasury Shares Number,NaN,0.0,NaN,NaN
Ordinary Shares Number,12211000000.0,12460000000.0,12849000000.0,13242420000.0
Share Issued,12211000000.0,12460000000.0,12849000000.0,13242420000.0
Total Debt,25461000000.0,27121000000.0,29679000000.0,28395000000.0
Tangible Book Value,293199000000.0,254181000000.0,227184000000.0,227262000000.0
...,...,...,...,...
Allowance For Doubtful Accounts Receivable,-879000000.0,-771000000.0,-754000000.0,-550000000.0
Gross Accounts Receivable,53219000000.0,48735000000.0,41012000000.0,39854000000.0
Cash Cash Equivalents And Short Term Investments,95657000000.0,110916000000.0,113762000000.0,139649000000.0
Other Short Term Investments,72191000000.0,86868000000.0,91883000000.0,118704000000.0
Cash And Cash Equivalents,23466000000.0,24048000000.0,21879000000.0,20945000000.0

In [13]:
ticker.recommendations.tail(20)

  period  strongBuy  buy  hold  sell  strongSell
0     0m         13   45     9     0           0
1    -1m         13   45     9     0           0
2    -2m         14   44    10     0           0

In [14]:
ticker.options

('2026-01-09',
 '2026-01-16',
 '2026-01-23',
 '2026-01-30',
 '2026-02-06',
 '2026-02-20',
 '2026-03-20',
 '2026-04-17',
 '2026-05-15',
 '2026-06-18',
 '2026-09-18',
 '2026-12-18',
 '2027-01-15',
 '2027-06-17',
 '2027-12-17',
 '2028-01-21')